configure
aclocal.m4
config.log
config.status
config.h
config.h.in
autom4te.cache
stamp-h1
libtool
ABOUT-NLS
build/compile
build/config.guess
build/config.rpath
build/config.sub
build/depcomp
build/install-sh
build/ltmain.sh
build/missing
build/autotools/*.m4
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/remove-potcdate.sed
gputop/registry/*api.c
gputop/gputop
Makefile
Makefile.in
.deps
.libs
*.swp
*.o
*.lo
*.la
*.pyc
