#gputop-panels {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: transparent;
    display: block;
}

#gputop-debug {
    background: yellowgreen;
}

#editor {
    overflow:scroll; min-height:300px; max-height:500px
}

.img-invert {
   -webkit-filter: invert(1);
   filter: invert(1);
}

#log {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: lightskyblue
    display: block;
}

html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
}

.intel-sw-logo {
    display: block;
    vertical-align: center;
    background: url(/assets/intel_software.png) 0 0 no-repeat;
    background-size: 70px 60px;
    padding: 10px;
    height: 60px;
    width: 80px;
}

.live_trace_dropdown {
    max-width: 1px;
}

#header-div {
    padding-right: 70px;
    width: 600px
}

#options_bar {
    margin-top: 50px;
    margin-bottom: 10px
}

#flags_bar {
    margin-bottom: 50px
}

#flag_checkbox {
    display: table-cell;
    padding-left:10px;
    padding-right:10px;
    vertical-align: middle
}

#unsupp2orted_checkbox {
    float: left;
    margin-top: 0px;
    width:200px
}

#panel_sidebar {
    width: 25%;
    float: right
}

#counter_metrics {
    width: 70%
}

.metric_row {
    display: table;
    table-layout: fixed;
    margin-top: 15px;
    max-height: 300px;
    /*width: 100%*/
}

.counter_name {
    display: table-cell;
    min-height: 20px;
    width: 28%
}

.progress {
    display: table-cell;
    height: 20px;
    width: 50%;
    margin-bottom: 0px
}

.progress-bar {
    width: 30%
}

.progress_text {
    display: table-cell;
    width: 140px;
    padding-left: 10px;
    vertical-align: middle;
}

.live_trace_dropdown {
    display: table-cell;
    min-width: 40px;
    max-width: none; /* needed to overwrite bootstrap max-width of 1px */
    padding-left: 13px;
    vertical-align: middle;
}

.glyphicon-move {
    display: table-cell;
    padding-bottom: 2px; /* uggly workaround to be cetered */
    width: 20px;
    vertical-align: middle;
}

.graph_container {
    width: 90%;
    height: 200px;
    text-align: center;
    margin: 15px auto 30px auto;
    margin-left: 20px
}

/* show the move cursor as the user moves the mouse over the panel header.*/
.glyphicon-move {
    cursor: move;
}

#slider_style .slider-selection {
  background: #8283FF;
}
#slider_style .slider-handle {
  background: blue;
}

#slider_style .slider-track {
    background: #cccccc;
}
/*
.navbar-fixed-top {
    height: 80px;
}
*/
